<html ng-app="BasicSlider">
<head>
	<title>Angular FlexSlider Example - Add and Remove Slides</title>
	<link rel="stylesheet" type="text/css" href="../bower_components/flexslider/flexslider.css">
	<style type="text/css">
	.flexslider-container {
		width: 50%;
		margin: 10px auto;
	}
	</style>
</head>
<body ng-controller="BasicSliderCtrl">

	<flex-slider
		slide="s in slideshow.slides track by $index"
		animation="slide">
		<li>
			<img ng-src="{{s}}">
		</li>
	</flex-slider>

	<button ng-click="addRandomSlide()">Add Slide</button>
	<button ng-click="removeRandomSlide()">Remove Slide</button>

	<script src="../bower_components/jquery/dist/jquery.js"></script>
	<script src="../bower_components/flexslider/jquery.flexslider.js"></script>
	<script src="../bower_components/angular/angular.js"></script>
	<script src="../angular-flexslider.js"></script>
	<script type="text/javascript">
	angular.module('BasicSlider', ['angular-flexslider'])
		.controller('BasicSliderCtrl', function($scope) {
			$scope.slideshow = {};
			$scope.slideshow.slides = [
				'http://flexslider.woothemes.com/images/kitchen_adventurer_cheesecake_brownie.jpg',
				'http://flexslider.woothemes.com/images/kitchen_adventurer_lemon.jpg',
				'http://flexslider.woothemes.com/images/kitchen_adventurer_donut.jpg',
				'http://flexslider.woothemes.com/images/kitchen_adventurer_caramel.jpg'
			];
			$scope.addRandomSlide = function () {
				$scope.slideshow.slides.push('http://lorempixel.com/704/444/cats');
			};
			$scope.removeRandomSlide = function () {
				$scope.slideshow.slides.shift();
			};
		});
	</script>

</body>
</html>
